.Sign-header{
    background-color: rgb(255, 213, 77);
    padding: 2px 30px;
    color: brown;
    font-size: 25px;
}

.Sign-header img{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    text-align: center;

}

.products-header img{
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    height: 450px;
    width: 1513px;
    margin: 0px;
    margin-bottom: 50px;
}
.main-home{
    text-align: center;
    font-size: 30px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: brown;
    background-color: rgb(255, 246, 225);

}
main{
    flex: 1;
}

table{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgb(108, 108, 107);
}

th, td{
    border: 1px solid rgb(248, 196, 27);
    text-align: center;
    padding: 10px;
    color: brown;
    font-size: 20px;
}

tr:nth-child(even){
    background-color: rgb(253, 241, 218);
}

tr:nth-child(odd){
    background-color: rgb(255, 239, 206);
}

button{
    background-color: #31f837;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #08b20e;
}


.main1-login{
    text-align: center;
}

.Discounts {
text-align: left;
}

img {
    width: 200px;
    height: 200px;
    padding: 30px;
}

.main2-login{
    text-align: center;
    font-size: 18px;
    color: rgb(255, 205, 39);

}

form{
    background-color: brown;
    padding: 20px; 
    width: 500px;
    margin: 50px auto;
    border-radius: 8px;
}
    label {
        display: inline-block;
        text-align: left ;
        width: 49%;
        padding: 10px 10px;

    }
    input[type=email],
    input[type=password],
    input[type=text]{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    input[type=submit] {
    width: 100%;
    background-color: #31f837;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;}

aside{
    background-color: brown;
    width: 25%;
    height: 200px;
    padding: 15px;
    margin-left: 25px;
    float: right;
    font-style: italic;
    color: rgb(255, 205, 39);
    font-size: 20px;
}

footer{
    background-color: rgb(255, 213, 77);
    padding: 10px 30px;
    color: brown;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: brown;

}

ul li {
  float: none ;
}

ul li a {
  display: block;
  color: rgb(255, 205, 39);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

ul li a:hover {
  background-color: rgb(147, 28, 28);
}
.home-shop{
    text-decoration: none;
    background-color: brown;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
}